body {
	background-color:;
}

html, body, #map_canvas {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px
}

.address:hover {
	color: red
}

body {
	background-image: url('../image/job04.jpg');
	background-size: 15% 15%;
}

.backWhite  {
	background-color: white;
}