<div class="col-sm-10 col-md-10">
	<div ng-app="myApp" ng-controller="customersCtrl">
	
	<h3 class="backWhite">Please, input jobs you are looking for</h3>
	<form ng-submit="submitJob()">		
		<input type='text' ng-model="jobTitle"/>
		<input type="submit" value="Submit"/>
	</form>
	<button ng-click="saveSearch()">Save me</button>
	<a href="/jobs/detail" class="backWhite">Click me to see detail</a><br>

  <div id="ggraph"></div>

	<h4 class="backWhite">This job will be saved :</h4><h5 class="backWhite">Job is not yet selected</h5>


	<table class='table-bordered backWhite'>
		<tr>
			<th>Position Title</th>
			<th>Organization Name</th>
			<th>Minimum Wage</th>
			<th>Maximum Wage</th>
			<th>Start Date</th>
			<th>End Date</th>
			<th>Location</th>
			<th>Web Site</th>
			<th>Click to Save</th>
		</tr>
		<tr ng-repeat="job in jobs" id="tr">
		<!-- <tr ng-repeat="x in names | orderBy : 'Country' "> -->
			<div >
				<td>{{job.position_title}}</td>		
				<td>{{job.organization_name}}</td>		
				<td class="min">{{job.minimum}}</td>		
				<td>{{job.maximum}}</td>		
				<td>{{job.start_date}}</td>		
				<td>{{job.end_date}}</td>		
				<td>{{job.locations.toString()}}</td>		
				<td><a href="{{job.url}}">Link</a></td>	
				<td class=""><span class='jobb jobSel' id="job">{{job}}</span></td>	
			</div>
		</tr>	
	</table>
	</div>
</div>

